@page
@model Parauan_Andreea_Raluca_Proiect_MPD.Pages.Proiecte.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proiect_MPD[0].Titlu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proiect_MPD[0].Cod_apel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proiect_MPD[0].Tip_apel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proiect_MPD[0].Regiunea_de_dezvoltare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proiect_MPD[0].Data_publicarii_ghidului)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proiect_MPD[0].Fondul_Structural)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proiect_MPD[0].Tip_ajutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proiect_MPD[0].Proiect_depus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Proiect_MPD) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titlu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cod_apel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip_apel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regiunea_de_dezvoltare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_publicarii_ghidului)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fondul_Structural)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip_ajutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proiect_depus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
